﻿@page "/"
@using VacationRequester.Core
@inject IVacationRequestService VacationRequestService;
@inject IUserService UserService;

<RadzenDropDown @bind-Value="@_user" Data="@_users" TextProperty="Username"></RadzenDropDown>
<RadzenFormField Text="Start Date">
    <RadzenDatePicker ShowTime="true" @bind-Value="@_startDate"/>
</RadzenFormField>
<RadzenFormField Text="End Date">
    <RadzenDatePicker ShowTime="true" @bind-Value="@_endDate"/>
</RadzenFormField>

<RadzenButton Click="AddNewRequest" Disabled="!FormIsValid" Variant="Variant.Outlined">Create new request</RadzenButton>

<ol>
    @if (_vacationRequests is not null)
    {
        <RadzenDataList Data="@_vacationRequests" TItem="VacationRequest" PageSize="5" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
            <Template Context="vacationRequest">
                <RadzenCard Style="width: 100%; padding: 0;">
                    <RadzenRow Gap="0">
                        <RadzenColumn Size="12" SizeLG="3" Class="rz-p-4 product-title">
                            <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-color-secondary">@(vacationRequest.Id.ToString())</RadzenText>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeLG="3" Class="rz-p-4 product-title">
                            <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-color-secondary">@(vacationRequest.User.Username)</RadzenText>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeLG="3" Class="rz-p-4 product-title">
                            <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-color-secondary">@(vacationRequest.RequestedOn.ToString("d"))</RadzenText>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeLG="3" Class="rz-p-4 product-title">
                            <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-color-secondary">@(vacationRequest.StartDate.ToString("d"))</RadzenText>
                        </RadzenColumn>
                        <RadzenColumn Size="12" SizeLG="3" Class="rz-p-4 product-title">
                            <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-color-secondary">@(vacationRequest.EndDate.ToString("d"))</RadzenText>
                        </RadzenColumn>
                    </RadzenRow>
                </RadzenCard>
            </Template>
        </RadzenDataList>
    }
</ol>

@code {
    private DateTime? _startDate = DateTime.Today;
    private DateTime? _endDate = DateTime.Today.AddDays(1);
    private IQueryable<VacationRequest>? _vacationRequests;
    private IQueryable<User>? _users;
    private User? _user;

    private bool FormIsValid => _startDate.HasValue && _endDate.HasValue && _user is not null;

    async Task AddNewRequest()
    {
        if (FormIsValid)
        {
            await VacationRequestService.AddVacationRequest(new VacationRequest(_startDate!.Value, _endDate!.Value)
            {
                User = _user!
            });
        }
    }

    protected override async Task OnInitializedAsync()
    {
        _vacationRequests = await VacationRequestService.GetRequests();
        _users = await UserService.GetUsers();
    }
}